.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px, 0;
    background-color: #004134;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboarnHidden {
    bottom: -100%;
}

.keysContainer {
    text-align: center;
}

.keys {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

.keys:active {
    background-color: rgba(255, 255, 255, 0.12);
}

.keysWide {
    width: 12%;
}

.keysExtraWide {
    width: 36%;
    max-width: 500px;
}

.keysToggle::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keysActive::after {
    background-color: #08FF00;
}

.keysDark {
    background-color: rgba(0, 0, 0, .25)
}